.admin {
  display: grid;
  grid-template-columns: 250px 1fr;

  grid-template-areas: "nav content";
  min-height: 100vh;
}

.nav {
  /* height: 100vh; */
  min-height: 100vh;
  background-color: #0f1e3f;
  grid-area: nav;
}

.content {
  grid-area: content;
  background-color: #f9fafb; /* same as your Issue main background */
  min-height: 100vh; /* cover full viewport height */
  display: flex;
  flex-direction: column;
}

/* responsive*/

/* ─── TABLET (max 1024px) ─── */
@media (max-width: 1024px) {
  .admin {
    grid-template-columns: 200px 1fr;
  }
}

/* ─── MOBILE (max 768px) ─── */
@media (max-width: 768px) {
  .admin {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
  }

  .nav {
    min-height: auto;
  }
}
